/* Custom properties */
:root {
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);
  /* 1rem = 16px / 2rem = 32px / 3rem = 48px / 4rem = 64px */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem; 
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1400: 7rem;
  --fw-400: 400;
  --fw-900: 900;                     
}

/* Global reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/* Page styling */
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--white);
}

/* Typography classes */
.text-preset-1 {
  font-size: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);
  font-weight: var(--fw-900);
  line-height: 1.1;
  color: var(--slate-900);
}

.text-preset-2 {
  font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

.text-preset-3 {
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  font-weight: var(--fw-900);
  line-height: 1.1;
  letter-spacing: var(--spacing-50);
}

.text-preset-4 {
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  font-weight: var(--fw-400);
  line-height: 1.1;
  color: var(--slate-600);
}

.text-preset-5 {
  font-size: 1rem;
  font-weight: var(--fw-900);
  line-height: 1.5;
}

/* Button classes */
.btn {
  padding-block: var(--spacing-200);
  padding-inline: var(--spacing-500);
  color: var(--white);
  border-radius: 1.8125rem;
  transition: background-color 250ms ease;
}

.btn-blue {
  background-color: var(--cyan-600);
  margin-block-end: var(--spacing-200);
  margin-inline-end: var(--spacing-200);
}

.btn-blue-subtext {
  margin-inline-start: var(--spacing-50);
  color: var(--cyan-300);
}

.btn-blue:hover {
  background-color: #71C0D4;
}

.btn-purple {
  background-color: var(--purple-600);
}

.btn-purple:hover {
  background-color: #B18BDD;
}

.btn-purple-subtext {
  margin-inline-start: var(--spacing-50);
  color: var(--purple-300);
}

/* Header */
.header {
  padding-block-start: var(--spacing-600);
  padding-inline: var(--spacing-1000);
}

.header-logo {
  margin-inline: auto;
}

/* Hero Section */
.hero {
  padding-block-start: var(--spacing-800);
  padding-block-end:  var(--spacing-400);
  overflow: clip;
}

.hero-img-left {
  transform: scale(1.15);
}

.hero-content {
  margin-block-start: var(--spacing-800);
  padding-inline: var(--spacing-400);
  text-align: center;
}

.hero-header,
.hero-text {
  margin-block-end: var(--spacing-300);
}

.hero-header {
  text-wrap: balance;
}

/* Hidden for smaller screen sizes */
.hero-img-right {
  display: none;
}

/* Showcase */
.showcase {
  padding-block-start: var(--spacing-400);
  padding-block-end: 10.75rem;
  padding-inline: var(--spacing-400);
}

.section-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  border: 0.0625rem solid var(--slate-300);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--white);
  color: var(--slate-600);
}

.section-number-line {
  margin-inline: auto;
  width: 0.0625rem;
  height: 5rem;
  background-color: var(--slate-300);
}

.section-img-container {
  margin-block: var(--spacing-800);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-200);
}

.section-img {
  border-radius: 10px;
}

.section-main {
  max-width: 31.5rem;
  margin-inline: auto;
  text-align: center;
}

.section-sub-header {
  color: var(--cyan-600);
  text-transform: uppercase;
  margin-block-end: var(--spacing-200);
}

.section-header {
  color: var(--slate-900);
  margin-block-end: var(--spacing-400);
}

/* Footer */
.footer {
  position: relative;
  padding-block: var(--spacing-800);
  padding-inline: var(--spacing-400);
  text-align: center;
  background: linear-gradient(hsl(192, 37%, 48%, 0.85), hsl(192, 37%, 48%, 0.85)) , url(./assets/mobile/image-footer.jpg) center center;
  background-size: cover;
}

.footer-main {
  max-width: 31.5rem;
  margin-inline: auto;
}

.footer .section-header,
.footer .section-text {
  margin-block-end: var(--spacing-300);
  color: var(--white);
}

.footer .section-number-container {
  position: absolute;
  top: -6.75rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Media queries */
/* Media query > 600px/37.5rem */
@media (min-width: 37.5rem) {
  .hero {
    margin-block-end: var(--spacing-400);
  }

  .hero-img-left {
    transform: scale(1.05);
  }

  .hero-img-left img {
    margin-inline: auto;
  }

  .hero-content {
    max-width: 30rem;
    margin-block-start: var(--spacing-900);
    margin-inline: auto;
  }

  /* Showcase */
  .showcase {
    padding-block-start: var(--spacing-700);
  }

  .section-img-container {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-300);
  }
}

/* Media query > 992px/62rem */
@media (min-width: 62rem) {
  .hero {
    display: flex;
    align-items: center;
    padding-block-start: 0;
  }

  .hero-img-left {
    max-width: 450px;
  }

  .hero-img-right {
    display: block;
  }

  /* Showcase */
  .showcase {
    max-width: 70rem;
    margin-inline: auto;
    padding-inline: 0;
  }

  /* Footer */
  .footer {
    padding-block: var(--spacing-1400);
  }

  .footer-main {
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .footer-main > * {
    max-width: 30%;
  }

  .footer-main .section-text{
    margin-inline-start: var(--spacing-500);
  }

  .footer-main .btn {
    align-self: start;
  }
}